In [44]:
##########################################################################################
# Import library
import sys
import os
import json
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()

from plotly import tools
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go

from sklearn import model_selection, preprocessing, metrics
import lightgbm as lgb
sys.path.append('.')
sys.path.append('./code/feature')
from kit import *
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
from timeit import time
pd.set_option('display.max_columns', 500)

In [55]:
train_df = pd.read_csv("./data/train.csv",dtype={'fullVisitorId': 'str'})
test_df = pd.read_csv("./data/test.csv",dtype={'fullVisitorId': 'str'})
print(train_df.shape)
print(test_df.shape)
print(train_df.columns)

(50000, 39)
(50000, 39)
Index(['channelGrouping', 'date', 'fullVisitorId', 'visitId', 'visitNumber',
       'visitStartTime', 'device_browser', 'device_deviceCategory',
       'device_isMobile', 'device_operatingSystem', 'geoNetwork_city',
       'geoNetwork_continent', 'geoNetwork_country', 'geoNetwork_metro',
       'geoNetwork_networkDomain', 'geoNetwork_region',
       'geoNetwork_subContinent', 'totals_bounces', 'totals_hits',
       'totals_newVisits', 'totals_pageviews', 'totals_sessionQualityDim',
       'totals_timeOnSite', 'totals_totalTransactionRevenue',
       'totals_transactionRevenue', 'totals_transactions',
       'trafficSource_adContent',
       'trafficSource_adwordsClickInfo.adNetworkType',
       'trafficSource_adwordsClickInfo.gclId',
       'trafficSource_adwordsClickInfo.isVideoAd',
       'trafficSource_adwordsClickInfo.page',
       'trafficSource_adwordsClickInfo.slot', 'trafficSource_campaign',
       'trafficSource_isTrueDirect', 'trafficSource_keyword',
       'trafficSource_medium', 'trafficSource_referralPath',
       'trafficSource_source', 'customDimensions_value'],
      dtype='object')

In [56]:
# Hits columns are filtered out

In [57]:
cat_feat = [
    'channelGrouping',
    'device_browser',
    'device_deviceCategory',
    'device_isMobile',
    'device_operatingSystem',
    'geoNetwork_city',
    'geoNetwork_continent',
    'geoNetwork_country',
    'geoNetwork_metro',
    'geoNetwork_networkDomain',
    'geoNetwork_region',
    'geoNetwork_subContinent',
    'totals_bounces',
    'totals_newVisits',
    'trafficSource_adwordsClickInfo.adNetworkType',
    'trafficSource_adwordsClickInfo.isVideoAd',
    'trafficSource_adwordsClickInfo.page',
    'trafficSource_adwordsClickInfo.slot',
    'trafficSource_campaign',
    'trafficSource_isTrueDirect',
    'trafficSource_medium',
    'customDimensions_value'
]

more_action_feat = [
    'date',
    'fullVisitorId',
    'visitId',
    'visitStartTime',
    'trafficSource_adContent',
    'trafficSource_adwordsClickInfo.gclId',
    'trafficSource_keyword',
    'trafficSource_referralPath',
    'trafficSource_source',
]
num_feat = [
    'visitNumber',
    'totals_hits',
    'totals_pageviews',
    'totals_sessionQualityDim',
    'totals_timeOnSite',
    'totals_transactionRevenue',
    'totals_transactions',
]

In [58]:
# 1. understanding the difference between
f1 = 'totals_transactionRevenue'
f2 = 'totals_totalTransactionRevenue'
f3 = 'fullVisitorId'
for df in test_df,train_df:
#     print(f1)
    df[f1].fillna(0,inplace=True)
    df[f1] = df[f1].astype(float)
    df[f2].fillna(0,inplace=True)
    df[f2] = df[f2].astype(float)

In [61]:
ff1 = train_df[train_df[f1]!=0][[f1,f2,f3]]
ff2 = test_df[test_df[f1]!=0][[f1,f2,f3]]
ff2

,totals_transactionRevenue,totals_totalTransactionRevenue,fullVisitorId
268,2.199000e+07,2.499000e+07,0567632072087918290
353,1.499900e+08,1.519900e+08,0034941760139500427
369,7.730000e+06,9.730000e+06,7417113168654151999
381,7.662000e+07,8.462000e+07,5963345090934142475
391,4.398000e+07,4.598000e+07,6525673967695077450
397,1.050000e+07,1.450000e+07,9228745493176485536
410,4.047000e+07,4.647000e+07,957476142738569837
417,4.637000e+07,5.537000e+07,3549058200878432496
419,1.899000e+07,1.999000e+07,6064513912864833263
447,7.831000e+07,8.531000e+07,7946376510906023468
448,2.078000e+07,2.178000e+07,9190736502778727669
451,6.597000e+07,7.497000e+07,8995353085743340968
460,9.190000e+07,9.690000e+07,816447889951723477
465,1.076500e+09,1.082500e+09,6533935296546803942
467,9.834000e+07,1.033400e+08,3750665419911027408
469,1.999000e+07,2.299000e+07,1994893556176048372
470,4.398000e+07,4.798000e+07,5788247977998703073
485,3.518000e+07,4.318000e+07,61220923519356047
487,2.110800e+08,2.130800e+08,0855759862361326378
492,5.097000e+07,5.597000e+07,7632019104967214573
493,4.508600e+08,4.578600e+08,7481776779627304599
497,3.237500e+08,3.247500e+08,2465329820890780963
500,1.119500e+08,1.169500e+08,6423913301898213978
504,1.919000e+07,2.519000e+07,2952899993834285552
507,5.157000e+08,5.187000e+08,0061493153369543429
517,2.238600e+08,2.318600e+08,8327817592487072360
523,4.131000e+07,4.631000e+07,6915727589933825896
528,1.750000e+06,3.750000e+06,3794641793725869668
531,1.989000e+07,2.489000e+07,9928848168127375488
536,8.497000e+07,8.697000e+07,0659678381893256980
...,...,...,...
49369,9.598000e+07,9.698000e+07,0413665562446954089
49372,2.911000e+07,3.111000e+07,0339601496871242160
49379,1.889000e+07,2.489000e+07,7633968504953944497
49381,2.999000e+07,3.799000e+07,4157449198085992581
49407,3.148000e+07,3.248000e+07,5319319951893726557
49417,2.798000e+07,3.298000e+07,9264415959951181668
49419,2.498000e+07,2.998000e+07,9689610318659294127
49423,1.223300e+08,1.313300e+08,410536598653415027
49424,2.039000e+07,2.739000e+07,1959516032523341644
49428,2.078000e+07,2.878000e+07,0591730898031003888
49433,4.799000e+07,5.099000e+07,6934026482896617993
49437,8.796000e+07,9.496000e+07,4529619219891313888
49446,3.117000e+08,3.177000e+08,0231058856565451042
49449,1.031600e+08,1.061600e+08,9948106797038664088
49451,1.339300e+08,1.399300e+08,0203264641462073219
49454,7.618000e+07,8.018000e+07,7243493776939590503
49460,2.957100e+08,2.967100e+08,9089437318526468567
49467,5.277000e+07,5.877000e+07,3463652095616328706
49468,2.199000e+07,2.299000e+07,8502921771696645682
49469,3.518000e+07,4.418000e+07,4612323117578886006
49473,5.277000e+07,5.777000e+07,9832461170997531277
49478,3.147000e+07,3.947000e+07,460261988416301081
49486,8.636000e+07,9.436000e+07,3826906661493388995
49488,4.798000e+07,5.498000e+07,2289990715032748038
49489,6.255000e+07,7.055000e+07,8421784085752241761
49493,1.742000e+07,1.942000e+07,0301585111789951388
49494,4.159000e+07,5.059000e+07,2103804408465144535
49496,1.919000e+07,2.719000e+07,1857581039602924884
49498,1.471600e+08,1.501600e+08,2552677935349747198
49512,2.199000e+07,2.499000e+07,262284287046889640

In [49]:
train_df[train_df[f3] == "1447279966112382026"][[f1,f2,f3]]

,totals_transactionRevenue,totals_totalTransactionRevenue,fullVisitorId
678,56090000.0,63090000.0,1447279966112382026
1935,0.0,0.0,1447279966112382026

In [50]:
train_df[[f1,f2]].corr(method='pearson')

,totals_transactionRevenue,totals_totalTransactionRevenue
totals_transactionRevenue,1.000000,0.964261
totals_totalTransactionRevenue,0.964261,1.000000

In [63]:
train_df['date']

0        20171016
1        20171016
2        20171016
3        20171016
4        20171016
5        20171016
6        20171016
7        20171016
8        20171016
9        20171016
10       20171016
11       20171016
12       20171016
13       20171016
14       20171016
15       20171016
16       20171016
17       20171016
18       20171016
19       20171016
20       20171016
21       20171016
22       20171016
23       20171016
24       20171016
25       20171016
26       20171016
27       20171016
28       20171016
29       20171016
           ...
49970    20180103
49971    20180103
49972    20180103
49973    20180103
49974    20180103
49975    20180103
49976    20180103
49977    20180103
49978    20180103
49979    20180103
49980    20180103
49981    20180103
49982    20180103
49983    20180103
49984    20180103
49985    20180103
49986    20180103
49987    20180103
49988    20180103
49989    20180103
49990    20180103
49991    20180103
49992    20180103
49993    20180103
49994    20180103
49995    20180103
49996    20180103
49997    20180103
49998    20180103
49999    20180103
Name: date, Length: 50000, dtype: int64

In [64]:
test_df['date']

0        20180511
1        20180511
2        20180511
3        20180511
4        20180511
5        20180511
6        20180511
7        20180511
8        20180511
9        20180511
10       20180511
11       20180511
12       20180511
13       20180511
14       20180511
15       20180511
16       20180511
17       20180511
18       20180511
19       20180511
20       20180511
21       20180511
22       20180511
23       20180511
24       20180511
25       20180511
26       20180511
27       20180511
28       20180511
29       20180511
           ...
49970    20181005
49971    20181005
49972    20181005
49973    20181005
49974    20181005
49975    20181005
49976    20181005
49977    20181005
49978    20181005
49979    20181005
49980    20181005
49981    20181005
49982    20181005
49983    20181005
49984    20181005
49985    20181005
49986    20181005
49987    20181005
49988    20181005
49989    20181005
49990    20181005
49991    20181005
49992    20181005
49993    20181005
49994    20181005
49995    20181005
49996    20181005
49997    20181005
49998    20181005
49999    20181005
Name: date, Length: 50000, dtype: int64